/*
 * original stylesheet
 */

span.app-name {
    color: #DAA520;
}

p.email-content-subtitle {
    margin: 1em 0 0 1em;
}

#main {
}

.pure-form textarea {
    width: 100%;
    border: none;
    box-shadow: none;
}

.email-content-title {
    font-size: 20px;
    font-weight: bold;
}

.email-content-body {
    border-left: 1px solid #ddd;
}

.email-content-desc {
    height: 100vh;
}
